@page
@model ExamenPracticoDS39.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.QuantityPerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.QuantityPerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UnitInStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UnitInStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.UnitsOnOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.UnitsOnOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ReorderLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ReorderLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Discontinued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Discontinued)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Products?.ProductId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
